<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#MyRestoCatalogue</title>
</head>
<body>
<div id="app">
    <header>
        <nav>
            <div id="navbar">
                <div id="logo">
                    <div class="logo">#MyRestoCatalogue</div>
                </div>
                <div id="links">
                    <a href="#">Home</a>
                    <a href="#">Favorite</a>
                    <a href="#">About Us</a>
                </div>
                <div class="mobile-btn">
                    <a id="menu-btn">☰</a>
                </div>
            </div>
        </nav>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="mobile-menu">
            <ul class="mobile-links">
                <li class="nav-list"><a href="#">Home</a></li>
                <li class="nav-list"><a href="#">Favorite</a></li>
                <li class="nav-list"><a href="#">About Us</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="jumbotron">
            <!--<div class="jumbotron_content">
                <h1>Anda Lapar?</h1>
                <p>Jangan sampai kelaparan membuat anda menderita karena memilih tempat yang salah. <span>#MyRestoCatalague</span> solusi nya</p>
                <a href="#" class="button">Find Now</a>
            </div>
            <img src="../images/heros/hero-image_2.jpg" class="jumbotron_img" alt="">-->
            <img src="../images/heros/hero-image_2.jpg" class="jumbotron_img" alt="">
            <h1>Anda Lapar?</h1>
            <article>
                Jangan sampai kelaparan membuat anda menderita karena memilih tempat yang salah. <span>#MyRestoCatalague</span> solusi nya</p>
                <a href="#" class="button">Find Now!!</a>
            </article>
        </div>
    </main>
    <footer>
        <div class="col">
            <p>Copyright &copy; 2021 - #MyRestoCatalogue</p>
        </div>
    </footer>
</div>
</body>
</html>
