@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');


html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans', sans-serif;
    padding: 0;
    margin: 0;
    background: #f4eee8;
    width: 100%;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    height: 100vh;
}

#app > header {
    background: #325288;
    color: #FFF;
}

/*#app > main {
    background: #f5cebe;
}*/

#app > footer {
    background: #114e60;
	color: #FFF;
    text-align: center;
    padding: 5px;
}

#navbar {
    display: grid;
    min-height: 70px;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 0 10px;
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-size: 30px;
    font-weight: 700;
}
  
#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
}
  
a {
    text-decoration: none;
}
  
a:hover {
    color: #0474bc;
}
  
.mobile-menu {
    display: block;
    list-style-type: none;
    background-color: #fff;
    float: right;
    width: 150px;
    padding: 5px 0 50px 0;
    border: 1px solid #eee;
    z-index: 55;
}
  
.mobile-links li {
    line-height: 2.8rem;
}
  
.mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
}
  
.nav-list {
    list-style-type: none;
}
  
.nav-list:hover {
    opacity: 0.5;
    cursor: pointer;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.hero_image {
    display: block;
 	/*overflow: visible;*/
    z-index:-1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}

.jumbotron {
    display: grid;
    grid-template-areas: "jumbotron";
    place-items: center;
    height: 60vh;
    max-height: 600px;
    overflow: hidden;
    background-color: rgba(#3c87b3, 0.7);
}

.jumbotron > * {
    grid-area: jumbotron;
  }

.jumbotron_content {
    z-index: 1;
    text-align: center;
    color: #fff;
    min-width: 30ch;
    padding: 1rem;
}

.jumbotron_img {
    object-fit: cover;
    height: min(60vh, 600px);
    width: 100%;
    z-index: -1;
}

.jumbotron-overlay {
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
        display: none;
    }

    #logo {
        font-size: 25px;
        font-weight: 700;
    }
}
  
/* Tablet to Desktop */
@media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn {
        display: none;
    }
}