@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');


html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans', sans-serif;
    padding: 0;
    margin: 0;
    background: #f4eee8;
    width: 100%;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    height: 100vh;
}

#app > header {
    background: #325288;
    color: #FFF;
}

/*#app > main {
    background: #f5cebe;
}*/

#app > footer {
    background: #114e60;
	color: #FFF;
    text-align: center;
    padding: 5px;
}

#navbar {
    display: grid;
    min-height: 70px;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 0 10px;
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-size: 30px;
    font-weight: 700;
}
  
#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
}
  
a {
    text-decoration: none;
}
  
a:hover {
    color: #0474bc;
}
  
.mobile-menu {
    display: block;
    list-style-type: none;
    background-color: #fff;
    float: right;
    width: 150px;
    padding: 5px 0 50px 0;
    border: 1px solid #eee;
    z-index: 55;
}

/*#drawer {
    width: 250px;
    height: 100%;
    position: absolute;*/
    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    /*transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color:#111;
}*/
 
#mobile-menu {
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color:#111;
}

#mobile-menu.open {
    transform: translate(0,0)
}

.mobile-links li {
    line-height: 2.8rem;
}
  
.mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
}
  
.nav-list {
    list-style-type: none;
}
  
.nav-list:hover {
    opacity: 0.5;
    cursor: pointer;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.hero_image {
    display: block;
 	/*overflow: visible;*/
    z-index:-1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}

/*.jumbotron {
    display: grid;
    grid-template-areas: "jumbotron";
    place-items: center;
    max-height: 350px;
    overflow: hidden;
}*/

.jumbotron {
    display: grid;
    grid-template-areas: "jumbotron";
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center;
    max-height: 350px;
    overflow: hidden;
    align-items: center;
}

.jumbotron > * {
    grid-area: jumbotron;
    color: #fff;
}

.jumbotron_content {
    z-index: 1;
    text-align: center;
    color: #000;
    min-width: 20ch;
    padding: 5px;
    width: 100%;
    max-height: 350px;
    background: #f5cebe;
    background: linear-gradient(
        145deg,
        rgba(245,206,190, 0.7777485994397759) 30%,
        rgba(255, 255, 255, 0) 100%
    );
}

.jumbotron_content > span {
    font-weight: 700px;
}

.jumbotron_img {
    object-fit: cover;
    height: min(60vh, 350px);
    max-height: 350px;
    width: 100%;
}

.banner-btn-item {
    font-size: calc(8pt + 0.15vw);
    padding-top: calc(0.5em + 0.08vw);
    padding-bottom: calc(0.5em + 0.08vw);
    padding-left: calc(0.5em + 0.08vw);
    padding-right: calc(0.5em + 0.08vw);
    color: blue;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
}

.button {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    background-color: #fff;
    color: #2ba27c;
    border-radius: 8px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 220ms all ease-in-out;
}

.button:hover,
.button:active {
    background-color: scale-color($secondary, $lightness: 90%);
}

.button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color($secondary, $lightness: 50%);
}

.banner-btn-item:link {
    text-decoration: none;
}

.banner-btn-item:visited{
    text-decoration: none;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
        display: none;
    }

    #logo {
        font-size: 25px;
        font-weight: 700;
    }

    .jumbotron,
    .jumbotron_content,
    .jumbotron_img {
        max-height: 200px;
    }

    .jumbotron_content > h1 {
        font-size: 18px;
        margin: 5px;
    }

    .jumbotron_content > p {
        font-size: 14px;
        font-weight: 300;
        margin: 5px;
    }

    .button {
        font-size: 12px;
        padding: 0.05em 0.25em;
    }
}
  
/* Tablet to Desktop */
@media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn {
        display: none;
    }
}